body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #ddeefa;
}

.wrapper {
    width: auto;
    margin: auto;
}


.header {
    
    align-items: center;
    justify-content: center;
    background-color: #ffffff;    
    font-size: 20px;  
    gap: 15px; 
}

.topMenu{
    right: inherit;
}
.contact{
    
}

.contact a{
    color: #007bff;
}

.main-top{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    padding-top: 10px;
    background-color: #ffffff;    
    font-size: 20px;  
    gap: 15px; 
}

.logo{
    font-size:30px ;
    align-items: center;
    font-weight: bold;
}
.logo a{
    color:#3597ff;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 40px;
}


.nav-links a{
    color: #ffffff;
    background-color: #007bff;
    border-radius: 2px ;
}





.search-box {
    padding: 8px 10px;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}

.search-input {
    padding: 10px;
    width: 60%;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px;

}


.menu {
    margin-top: -20px;
    width: 250px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
}

.menu-header{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #124195;
    box-shadow: none;
}

.menu li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.menu-danhmuc {
    
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-danhmuc li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-danhmuc li:hover {
    background-color: #cfe9fe;
}

.menu-danhmuc i {
    color: #007bff;
    font-size: 18px;
}

.footer {
    background: #ffffff;
    color: rgb(1, 141, 255);
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}
